<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58514067855-olis2pm22tqi4kkjljrnmsu3sb5v9sap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58514067855-olis2pm22tqi4kkjljrnmsu3sb5v9sap</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>58514067855-fm24qtnpe4m1jhrr7g54t23g02bsoet7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMtebOjMe_LhHqV-PDq1dJEjLeVUvB0gA</string>
	<key>GCM_SENDER_ID</key>
	<string>58514067855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.colorNotes</string>
	<key>PROJECT_ID</key>
	<string>color-notes-9ab85</string>
	<key>STORAGE_BUCKET</key>
	<string>color-notes-9ab85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58514067855:ios:759d610a1206276268bbfa</string>
</dict>
</plist>